.topnav {
  font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #151e34ff;
    opacity: 1.5;
}

.topnav>a {
  float: left;
  display: block;
  color: khaki;
  text-align: center;
  padding: 25px 18px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F5B324;
  color: #000;
}

.topnav a.active {
  background-color: #2196F3;
  color: #FFF;
}

.topnav .search-container {
  float: left;
  margin-left: 23%;
}

.topnav .search-container button {
  padding: 8px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #DDD;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav input[type=text] {
  padding: 8px;
  width: 250px;
  margin-top: 15px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button:hover {
  background: #CCC;
}

.menu-item-right {
  float: right;
  display: block;
  color: KHAKI;
  text-align: center;
  padding: 25px 18px;
  text-decoration: none;
  font-size: 17px;
}



@media only screen and (max-width: 468px ) {
  body{
    width: 100%
  }

  .topnav.responsive {position: relative;}

  .topnav {
    font: 12px 'opensans-bold', sans-serif;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      margin: auto;
      z-index: 100;
      position: relative;
      left: 0;
      top: 0;
      background-color: #151e34ff;
      opacity: 1.5;
  }
}

@media only screen and (max-width: 768px) {
  body{
    width: fit-content;
  }
  .topnav a:not(:first-child) {display: none;}

  .topnav a.icon {
    float: left;
    display: block;
    width: max-content;
  }
  /* .topnav {
    font: 12px 'opensans-bold', sans-serif;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: -9.5px;
      margin: auto;
      z-index: 100;
      position: fixed;
      left: 0;
      top: 0;
      background-color: #151e34ff;
      opacity: 1.5;
  } */
  /* .topnav>a {
    float: left;
    display: block;
    color: khaki;
    text-align: center;
    padding: 25px 18px;
    text-decoration: none;
    font-size: 17px;
  } */
  /* .menu-item-right {
    
    display: block;
    color: KHAKI;
    text-align: center;
    
    text-decoration: none;
    font-size: 17px;
  } */
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav .search-container {
    float: left;
    margin-left: 2%;
  
    
  }
  .fa-user{
    margin-top: -4%;
    margin-left: -4%;
  }
  

  .topnav input{
    width: 2%;
  }

  form{
    margin-left: 78%;
    width: 110%;
}

#mr{
  margin-right: 6%;

}

  }
  
  /* #mr{
    margin-top: 7%;
  } */





@media only screen and (max-width: 468px ) {
  body{
    width: fit-content
  }
  .topnav a:not(:first-child) {display: none;}

  .topnav a.icon {
    float: left;
    display: block;
  }
  
  .topnav .search-container {
    float: left;
    margin-left: 23%;
    visibility: hidden;
    display: none;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
}

