<nav class="topnav" id="myTopnav">
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
      <i class="fa fa-bars"></i></a>
  <a routerLink="/home">HOME</a>
  <a routerLink="/book/store/default">BOOK STORE</a>
  <ng-template [ngIf]="isUserLogged()">
    <!-- <a routerLink="/user/profile/mine">PROFILE</a> -->
    <a routerLink="/user/purchaseHistory">ORDERS</a>
    <a *ngIf="isUserAdmin()" routerLink="/book/create">ADD YOUR BOOK</a>
  </ng-template>
  <div class="search-container">
    <form #formDir="ngForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <input type="text" id="q" name="query" placeholder="TITLE, AUTHOR, GENRE, ISBN..." formControlName="query"/>
      <button type="submit" [disabled]="searchForm.invalid"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div>
    <ng-template [ngIf]="!isUserLogged()">
      <a class="menu-item-right" routerLink="/user/register">REGISTER</a>
      <a class="menu-item-right" routerLink="/user/login">LOGIN</a>
      
    </ng-template>
    <ng-template [ngIf]="isUserLogged()">
      <a class="menu-item-right" id="mr" routerLink="/home" (click)="logout()">
        {{getUsername()}}
        <span></span> LOGOUT
      </a>
      <a class="menu-item-right" routerLink="/user/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> ({{cartItems}})</a>
      <a class="menu-item-right" routerLink="/user/profile/mine" style="margin-right: 2%"><i class="fa fa-user" aria-hidden="true" style="position: relative;color: khaki; font-size: 21px;"></i></a>
    </ng-template>
    
  </div>
</nav>


