.login-form {
  margin: 135px auto;
}
@media only screen and (max-width: 768px) {
  body{
    width: fit-content;
  }
  .login-form {
    margin: 439px auto;
  }
  .form {
    margin-top: 2%;
    position: relative;
    width: 560px;
    margin: 30% auto;
    padding: 50px 60px 70px 60px;
    background-color: lightgrey;
    border-radius: 15px;
    color: #CACACA;
    
  }

}

@media only screen and (max-width: 468px) {
  body{
    width: fit-content;
  }

  .form {
    margin-top: 2%;
    position: relative;
    width: 560px;
    margin: 30% auto;
    padding: 50px 60px 70px 60px;
    background-color: lightgrey;
    border-radius: 15px;
    color: #CACACA;
    
  }
  .login-form{
    width: 83%;
    margin-top: 51%;
}
  }
